{{> head }}

    {{> navbar }}
    <div class="col-8">
        <h1>lalalalala</h1>
    </div>
    
    
    <div class="col-4">
        <img src="assets/homer.jpg" class="img-thumbnail">
    </div>
   

{{> footer }}